:root {
    --header-backbround:#323232;
    --text-color: #EDEDED;
    --hover-background: #000;
    --accent-color: #C7AA8B;
    --title-color:#FFF;
    --services-text: #4D4D4D;
    --testimonials-background: #F7F7F7;
    --testimonials-title: rgba(50, 50, 50, 0.36);
    --footer-text: #858585;



}